<!DOCTYPE html>
    <html lang="en" xmlns: th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8" />
        <title></title>
    </head>
        <body>
        <h1>Hello Spring!</h1>
        <h2>Patrick Mahomes is trash!!</h2>
        <h2>Tom Brady = GOAT!!</h2>
            <form method = 'post' action = '/hello'>
                <input type = 'text' name = 'name' />
                    <select name='language'>
                        <option value='English'>English</option>
                        <option value='Spanish'>Spanish</option>
                        <option value='French'>French</option>
                        <option value='Italian'>Italian</option>
                        <option value='German'>German</option>
                    </select>
                <input type = 'submit' value='Add!' />
            </form>
        </body>
    </html>